<h1>{{stock.companyName}} | ({{stock.symbol}})</h1>
<br/>
<p><strong>Price:</strong> ${{stock.latestPrice}} on {{stock.latestTime}}</p><br/>



{{#each stock}}
    {{@key}} | {{this}}<br/>
    {{/each}}